{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'login.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="px-100">

		<form method="post" class="form auth__form">

			{% if app.user %}
				<p>
					{{ 'login.alreadyLogged'|trans }}
					<span class="accent">{{ app.user.userIdentifier }}</span>.</p>
				<a href="{{ path('app_logout') }}" class="button button__primary full-w">Se déconnecter</a>
			{% endif %}

			{% if not app.user %}
				<h1 class="title title__secondary accent">{{ 'login.mainTitle'|trans }}</h1>

				<div class="form__text">
					<p class="paragraph__small center">{{ 'login.description'|trans }}</p>
				</div>

				<div class="form__choices">
					<label for="username" class="paragraph__small">{{ 'login.email'|trans }}</label>
					<input type="email" class="form__input" value="{{ last_username }}" name="_username" id="username" autocomplete="email" autofocus>
				</div>
				<div class="form__choices">
					<label for="password" class="paragraph__small">{{ 'login.password'|trans }}</label>
					<input type="password" class="form__input" name="_password" id="password" autocomplete="current-password">
				</div>
				<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

				{% if error %}
					<div class="form__constraint constraint-bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<button class="button button__primary full-w" type="submit">
					{{ 'login.button'|trans }}
				</button>

				<div class="form__options">
					<p class="paragraph__xsmall">{{ 'login.notRegistered'|trans }}
					</p>
					<a href="{{ path('app_register')}}" class="link__xsmall">{{ 'login.createAccount'|trans }}</a>
				</div>

			</form>
		{% endif %}

	</main>

{% endblock %}
