{% extends 'base.html.twig' %}

{% block title %}Novalya | Se connecter
{% endblock %}

{% block body %}

	<main class="px-100">

		<form method="post" class="form">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<p>
					Vous êtes connecté avec l'adresse
					<span class="accent">{{ app.user.userIdentifier }}</span>.</p>
				<a href="{{ path('app_logout') }}" class="button button__primary full-w">Se déconnecter</a>
			{% endif %}

			{% if not app.user %}
				<div class="form__text">
					<h1 class="title title__secondary accent">Se connecter</h1>
					<p class="paragraph__small center">Connectez-vous à votre espace personnel pour voir et gérer vos favoris.</p>
				</div>

				<div class="form__choices">
					<label for="username" class="paragraph__small">Email *</label>
					<input type="email" class="form__input" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
				</div>
				<div class="form__choices">
					<label for="password" class="paragraph__small">Mot de passe *</label>
					<input type="password" class="form__input" name="_password" id="password" autocomplete="current-password" required>
				</div>
				<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

				<button class="button button__primary full-w" type="submit">
					Se connecter
				</button>

				<div class="form__options">
					<p class="paragraph__xsmall">Pas encore inscrit ?
					</p>
					<a href="{{ path('app_register')}}" class="link__xsmall">Créez votre compte</a>
				</div>

			</form>
		{% endif %}

	</main>

{% endblock %}
