{% extends 'base.html.twig' %}

{% block title %}Novalya | {{ 'homePage.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="homepage">

		<section class="hero">
			<div class="hero__bg"></div>
			<div class="hero__content">
				<h1 class="title title__primary center">{{ 'homePage.mainTitle'|trans }}
					<span class="title title__primary line-jump center">{{ 'homePage.mainAccent'|trans }}</span>
				</h1>
				<p class="center">{{ 'homePage.description'|trans }}</p>
				<a href="#" class="button__primary">{{ 'homePage.button'|trans }}</a>
			</div>
		</section>

		<section class="intro p-section">
			<div class="intro__image brr-60">
				<img src="{{ asset('images/intro_villa.webp') }}" alt="Image d'une villa avec piscine">
			</div>
			<div class="intro__content">
				<h2 class="title title__secondary mb-55">{{ 'homePage.intro.mainTitle'|trans }}
					<span class="title title__secondary accent">{{ 'homePage.intro.mainAccent'|trans }}</span>
				</h2>
				<p class="paragraph">{{ 'homePage.intro.firstP'|trans }}</p>
				<br>
				<p class="paragraph">{{ 'homePage.intro.secondP'|trans }}</p>
			</div>
		</section>

	</main>

	{# FOOTER #}
	{% block footer %}
		{% include 'layout/footer.html.twig' %}
	{% endblock %}

{% endblock %}
