{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'register.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="px-100">

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<h1 class="title title__secondary accent">{{ 'register.mainTitle'|trans }}</h1>

		<div class="form__text">
			<p class="paragraph__small center">{{ 'register.text'|trans }}</p>
		</div>

		<div class="form__choices">
			{{ form_label(registrationForm.name) }}
			{{ form_widget(registrationForm.name) }}
			{% for error in registrationForm.name.vars.errors %}
				<div class="form__constraint">{{ error.message }}</div>
			{% endfor %}
		</div>
		<div class="form__choices">
			{{ form_label(registrationForm.firstName) }}
			{{ form_widget(registrationForm.firstName) }}
			{% for error in registrationForm.firstName.vars.errors %}
				<div class="form__constraint">{{ error.message }}</div>
			{% endfor %}
		</div>
		<div class="form__choices">
			{{ form_label(registrationForm.email) }}
			{{ form_widget(registrationForm.email) }}
			{% for error in registrationForm.email.vars.errors %}
				<div class="form__constraint">{{ error.message }}</div>
			{% endfor %}
		</div>
		<div class="form__choices">
			{{ form_label(registrationForm.plainPassword) }}
			{{ form_widget(registrationForm.plainPassword) }}
			{% for error in registrationForm.plainPassword.vars.errors %}
				<div class="form__constraint">{{ error.message }}</div>
			{% endfor %}
		</div>
		<div class="form__choices">
			<div class="form__agree">
				{{ form_label(registrationForm.agreeTerms) }}
				{{ form_widget(registrationForm.agreeTerms) }}
			</div>
			{% for error in registrationForm.agreeTerms.vars.errors %}
				<div class="form__constraint">{{ error.message }}</div>
			{% endfor %}
		</div>

		<button type="submit" class="button button__primary full-w">{{ 'register.button'|trans }}</button>

		<div class="form__options">
			<p class="paragraph__xsmall">{{ 'register.alreadyRegistered'|trans }}
			</p>
			<a href="{{ path('app_login')}}" class="link__xsmall">{{ 'register.logIn'|trans }}</a>
		</div>

		{{ form_end(registrationForm) }}

	</main>

{% endblock %}
