{% extends 'base.html.twig' %}

{% block title %}Novalya | {{ 'register.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="px-100">

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<h1 class="title title__secondary accent">{{ 'register.mainTitle'|trans }}</h1>

		<div class="form__text">
			<p class="paragraph__small center">{{ 'register.text'|trans }}</p>
		</div>

		<div class="form__choices">
			{{ form_row(registrationForm.name) }}
		</div>
		<div class="form__choices">
			{{ form_row(registrationForm.firstName) }}
		</div>
		<div class="form__choices">
			{{ form_row(registrationForm.email) }}
		</div>
		<div class="form__choices">
			{{ form_row(registrationForm.plainPassword) }}
		</div>
		<div class="form__choices">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>

		<button type="submit" class="button button__primary full-w">{{ 'register.button'|trans }}</button>

		<div class="form__options">
			<p class="paragraph__xsmall">{{ 'register.alreadyRegistered'|trans }}
			</p>
			<a href="{{ path('app_login')}}" class="link__xsmall">{{ 'register.logIn'|trans }}</a>
		</div>

		{{ form_end(registrationForm) }}

	</main>

{% endblock %}
