{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'updateCategoryPage.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="admin-pages__container px-100">

		<h1 class="title title__secondary mb-55">{{ 'updateCategoryPage.mainTitle'|trans }}
			<span class="title title__secondary accent">{{ 'updateCategoryPage.mainAccent'|trans }}</span>
		</h1>

		{{ form_start(form) }}

		{{ form_label(form.name) }}
		{{ form_widget(form.name) }}
		{% for error in form.name.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# UPDATE BUTTON #}
		<button class="button button__primary">{{ 'updateBtn'|trans }}</button>

		{{ form_end(form) }}

		<div
			class="flex-responsive">

			{# DELETE BUTTON #}
			{{ include('property_category/_delete_form.html.twig') }}

			{# GET BACK TO PROPERTIES BUTTON #}
			<a class="button button__secondary" href="{{ path('app_property_category_index') }}">{{ 'updateCategoryPage.getBack'|trans }}</a>

		</div>

	</main>


{% endblock %}
