{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.name }}</td>
                <td>{{ property.status.value }}</td>
                <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ property.modifiedAt ? property.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('app_property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_property_new') }}" class="button button__primary mt-15">Create new</a>
    <a href="{{ path('app_admin') }}" class="button button__secondary mt-15">{{ 'adminBtn'|trans }}</a>
{% endblock %}
