{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'addPropertyPage.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="new__property px-100">

		<h1 class="title title__secondary mb-55">{{ 'addPropertyPage.mainTitle'|trans }}
			<span class="title title__secondary accent">{{ 'addPropertyPage.mainAccent'|trans }}</span>
		</h1>

		{{ form_start(form) }}

		<h2 class="panel__titles as-l mb-15">{{ 'addPropertyPage.infos'|trans }}</h2>

		{# NAME FIELD #}
		{{ form_label(form.name) }}
		{{ form_widget(form.name) }}
		{% for error in form.name.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# PRICE FIELD #}
		{{ form_label(form.price) }}
		{{ form_widget(form.price) }}
		{% for error in form.price.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# CATEGORY FIELD #}
		{{ form_label(form.category) }}
		{{ form_widget(form.category) }}
		{% for error in form.category.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# DESCRIPTION FIELD #}
		{{ form_label(form.description) }}
		{{ form_widget(form.description) }}
		{% for error in form.description.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		<h2 class="panel__titles mt-35 mb-15">{{ 'addPropertyPage.images'|trans }}</h2>

		{# PHOTOS FIELD #}
		{{ form_label(form.images) }}
		{{ form_widget(form.images) }}
		{% for error in form.images.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		<h2 class="panel__titles mt-35 mb-15">{{ 'addPropertyPage.localisation'|trans }}</h2>

		{# CITY FIELD #}
		{{ form_label(form.city) }}
		{{ form_widget(form.city) }}
		{% for error in form.city.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# MAP URL FIELD #}
		{{ form_label(form.mapUrl) }}
		{{ form_widget(form.mapUrl) }}
		{% for error in form.mapUrl.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		<h2 class="panel__titles mt-35 mb-15">{{ 'addPropertyPage.roomsTotal'|trans }}</h2>

		{# ROOMS TOTAL FIELD #}
		{{ form_label(form.roomsTotal) }}
		{{ form_widget(form.roomsTotal) }}
		{% for error in form.roomsTotal.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# BEDROOMS FIELD #}
		{{ form_label(form.bedroomNumber) }}
		{{ form_widget(form.bedroomNumber) }}
		{% for error in form.bedroomNumber.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# BATHROOMS FIELD #}
		{{ form_label(form.bathroomNumber) }}
		{{ form_widget(form.bathroomNumber) }}
		{% for error in form.bathroomNumber.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		<h2 class="panel__titles mt-35 mb-15">{{ 'addPropertyPage.surface'|trans }}</h2>

		{# INDOOR SURFACE FIELD #}
		{{ form_label(form.indoorSurface) }}
		{{ form_widget(form.indoorSurface) }}
		{% for error in form.indoorSurface.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# OUTDOOR SURFACE FIELD #}
		{{ form_label(form.outdoorSurface) }}
		{{ form_widget(form.outdoorSurface) }}
		{% for error in form.outdoorSurface.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		<h2 class="panel__titles mt-35 mb-15">{{ 'addPropertyPage.perf'|trans }}</h2>

		{# ENERGY CLASS FIELD #}
		{{ form_label(form.energyClass) }}
		{{ form_widget(form.energyClass) }}
		{% for error in form.energyClass.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# CLIMATE CLASS FIELD #}
		{{ form_label(form.climateClass) }}
		{{ form_widget(form.climateClass) }}
		{% for error in form.climateClass.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		<h2 class="panel__titles mt-35 mb-15">{{ 'addPropertyPage.status'|trans }}</h2>

		{# PUBLICATION STATUS FIELD #}
		{{ form_label(form.status) }}
		{{ form_widget(form.status) }}
		{% for error in form.status.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# ADD BUTTON #}
		<button class="button button__primary  mt-30">{{ 'addBtn'|trans }}</button>

		{# GET BACK TO PROPERTIES BUTTON #}
		<a class="button button__secondary" href="{{ path('app_property_index') }}">{{ 'addPropertyPage.getBack'|trans }}</a>

		{{ form_end(form) }}


	</main>

{% endblock %}
