{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ property.name }}
{% endblock %}

{% block body %}

	<main
		class="property">

		{# FEATURED IMAGE OF THE PROPERTY #}
		<section
			class="property__hero">

			{# If there is no property set to favorite yet, "favoriteIds" will
			display an empty array #}
			{% set favoriteIds = favoriteIds|default([]) %}

			{# we set the parameters of "isFavorited" which will fetch wether 
			the property has been set to favorite or not #}
			{% set isFavorited = app.user and (property.id in favoriteIds) %}

			{% for image in property.propertyImages %}

				{# Selects only the featured image among all the pictures related to this property #}
				{% if image.property.id == property.id and image.isFeatured == true %}
					<div class="property__hero--bg" style="background-image: url('{{ asset(image.url) }}')"></div>
				{% endif %}
			{% endfor %}
			<div class="property__hero--content">
				<h1 class="title title__primary">{{ property.name }}</h1>
				<h3 class="title__city">{{ property.city }}</h3>

				{# Visual summary of the important features #}
				<div class="hero__features">
					<div class="hero__features--items">
						<svg width="36" height="39" viewbox="0 0 36 39" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M17.8715 2.01428L33.1556 8.20659C33.2797 8.2568 33.3609 8.37743 33.3609 8.51149V30.3374C33.3609 30.4715 33.2797 30.5921 33.1556 30.6423L17.8715 36.8346C17.7916 36.867 17.7022 36.8665 17.6226 36.8335L2.68908 30.6393C2.56642 30.5883 2.48633 30.4685 2.48633 30.3354V21.9689C2.48633 21.7873 2.63342 21.64 2.81473 21.64H3.47169C3.65315 21.64 3.80009 21.7873 3.80009 21.9689V25.2117L17.0928 19.698V3.65828L15.393 4.36328C15.2255 4.43275 15.0335 4.35333 14.964 4.18564L14.7122 3.57886C14.6788 3.49817 14.6788 3.40754 14.712 3.32686C14.7453 3.24617 14.8093 3.18207 14.8899 3.14875L17.6226 2.01522C17.7022 1.98222 17.7916 1.98191 17.8715 2.01428ZM3.80009 27.1579V29.677L17.7526 35.4643L32.0471 29.673V27.1499L17.8652 32.5574C17.7892 32.5865 17.705 32.5862 17.629 32.5565L3.80009 27.1579ZM27.8739 23.5296V14.8808L22.9277 12.9096V21.5258L27.8739 23.5296ZM30.9077 26.1772L17.7526 20.8476L4.90338 26.1774L17.7525 31.1935L30.9077 26.1772ZM18.4066 3.64943L18.4068 19.6941L21.6138 20.9935V11.4557C21.6138 11.3468 21.6679 11.2448 21.7579 11.1835C21.8481 11.1223 21.9626 11.1098 22.0638 11.1502L28.9807 13.9066C29.1057 13.9565 29.1877 14.0776 29.1877 14.2123V24.0619L32.0471 25.2204V9.17575L18.4066 3.64943ZM12.7847 5.44517L8.95912 7.03201C8.79169 7.10133 8.59982 7.02191 8.53013 6.85422L8.27851 6.24759C8.24509 6.16691 8.24493 6.07628 8.2782 5.99559C8.31162 5.91491 8.37563 5.8508 8.45604 5.81749L12.2816 4.23064C12.449 4.16117 12.6411 4.24075 12.7106 4.40828L12.9624 5.01507C12.9958 5.09559 12.9958 5.18622 12.9625 5.26691C12.9293 5.34759 12.8652 5.4117 12.7847 5.44517ZM3.80009 9.1718V11.9403C3.80009 12.1219 3.65315 12.2692 3.47169 12.2692H2.81473C2.63342 12.2692 2.48633 12.1219 2.48633 11.9403V8.51338C2.48633 8.38043 2.56642 8.26043 2.68908 8.20959L5.67385 6.97138C5.84128 6.90191 6.03331 6.98149 6.10284 7.14917L6.35462 7.75596C6.38804 7.83649 6.3882 7.92712 6.35477 8.0078C6.32151 8.08849 6.2575 8.15259 6.17694 8.18607L3.80009 9.1718ZM3.80009 14.4349V19.068C3.80009 19.2497 3.65315 19.3969 3.47169 19.3969H2.81473C2.63342 19.3969 2.48633 19.2497 2.48633 19.068V14.4349C2.48633 14.2533 2.63342 14.106 2.81473 14.106H3.47169C3.65315 14.106 3.80009 14.2533 3.80009 14.4349Z"/>
						</svg>
						<p class="paragraph__xsmall__bold">{{ property.roomsTotal }}
							{{ 'indivudualPropertyPage.rooms'|trans }}</p>
					</div>
					<div class="hero__features--items">
						<svg width="37" height="35" viewbox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M33.9252 18.5651L33.925 18.564C35.777 18.004 36.6335 20.7524 34.8164 21.3987L34.8092 21.4011L34.7972 21.4049L34.3842 21.5386L33.5446 25.8901C33.1331 28.0137 31.7795 29.8224 29.8961 30.7984V32.2834L29.896 32.2884C29.8487 33.7913 28.337 34.2414 27.4116 33.6401C27.0148 33.3823 26.7219 32.9332 26.7017 32.2884L26.7016 32.2834V31.5715C25.0816 31.5782 11.8777 31.5782 10.2577 31.5715V32.2834L10.2576 32.2883C10.2114 33.7913 8.69983 34.2414 7.77441 33.6401C7.37775 33.3823 7.08483 32.9332 7.06458 32.2884L7.0645 32.2834L7.06466 30.7986C5.18233 29.8252 3.82741 28.0151 3.416 25.8901L1.818 17.6012C0.372914 16.6745 1.41566 14.3897 3.07333 14.939L3.07616 14.94L3.74133 15.1749L3.74141 11.4835C2.65283 11.0376 2.65283 9.39293 3.74133 8.94709V6.81115C3.74133 3.66014 6.26208 1.09599 9.36041 1.09505C12.4572 1.0276 15.113 3.86039 14.9869 6.98683C16.5023 7.14039 17.6914 8.44124 17.6914 10.0222C17.6914 10.3188 17.4553 10.5589 17.1636 10.5589H11.7411C11.4493 10.5589 11.2132 10.3188 11.2132 10.0222C11.2132 8.43666 12.4086 7.13209 13.9319 6.98649C14.0472 4.43743 11.8948 2.1148 9.36683 2.17115H9.36341C6.84725 2.17115 4.7995 4.2537 4.7995 6.81251L4.79941 8.94853C5.88666 9.39446 5.88791 11.039 4.7995 11.4849V15.5506L17.3528 19.994C21.104 21.3208 25.2508 21.3769 29.0265 20.1527L33.9198 18.5656C33.8257 18.5978 33.8393 18.6758 33.8757 18.7451L33.9458 18.7224L33.9217 18.5651H33.9252L33.9475 18.7219L33.9628 18.7169C33.9572 18.6428 33.9462 18.5692 33.9252 18.5651ZM28.8392 32.282L28.8391 31.2464C28.4865 31.3591 28.1232 31.4345 27.7585 31.4962V32.282C27.7722 33.0065 28.8256 33.0065 28.8392 32.282ZM34.3885 20.5751C34.3998 20.5715 34.4112 20.5679 34.4225 20.5641C34.3963 20.5207 34.3841 20.472 34.4151 20.4295C34.3889 20.4629 34.3763 20.5067 34.3831 20.5516C34.3843 20.5597 34.3861 20.5675 34.3885 20.5751ZM34.4885 20.3779C34.4747 20.3825 34.4618 20.3889 34.4502 20.3967C34.4712 20.3824 34.4932 20.4585 34.5098 20.5362C34.5107 20.5358 34.5118 20.5355 34.5128 20.5351L34.4885 20.3779ZM34.4885 20.3779L34.4897 20.3776C34.7025 20.3071 34.8195 20.073 34.7507 19.8543L34.7493 19.8496C34.6891 19.635 34.4479 19.5201 34.2476 19.5864L34.2467 19.5867L29.3477 21.177C25.3553 22.4714 20.9722 22.4117 17.0061 21.0088L2.731 15.9552C2.52325 15.8822 2.28508 15.9944 2.21025 16.2116L2.20925 16.2143C2.13541 16.4169 2.25275 16.6662 2.45591 16.7324L2.4595 16.7337L16.7405 21.7873C18.8794 22.5471 21.1286 22.9317 23.4263 22.9317L23.4325 22.9318C26.9909 23.076 31.1366 21.4502 34.4885 20.3779ZM9.20066 32.282V31.4963C8.83533 31.4345 8.4725 31.3591 8.12 31.2464V32.282C8.13366 33.0065 9.187 33.0065 9.20066 32.282ZM16.5654 9.48598C16.3176 8.5731 15.4254 7.95802 14.4651 8.04565C14.4559 8.04649 14.4467 8.04649 14.4376 8.04565C13.4784 7.95929 12.5887 8.57438 12.3412 9.48598H16.5654ZM4.27191 10.5231L4.26766 9.91124C3.87808 9.92395 3.87966 10.5145 4.27041 10.5232L4.27191 10.5231ZM32.507 25.6839L33.2331 21.9147C30.1377 22.9531 26.7165 24.1073 23.4238 24.0067C21.0078 24.0064 18.6423 23.602 16.393 22.8034L2.98275 18.0578L4.454 25.6838C4.82008 27.5813 6.07408 29.1845 7.80641 29.9734L7.80783 29.974C8.55416 30.3233 9.38108 30.5003 10.2119 30.5017H26.7482H26.7499C29.4975 30.534 32.0087 28.4301 32.5067 25.6856L32.507 25.6839ZM22.6774 6.82293C22.6774 6.82048 22.6785 6.14726 22.6777 6.00963L22.6776 5.99048L22.6774 5.98344C22.6812 5.28116 23.7305 5.28116 23.7343 5.98344V5.98429V6.28344L24.1779 6.28353C24.4249 5.7876 24.9318 5.4476 25.515 5.4476H31.6143C32.1988 5.4476 32.707 5.78768 32.9552 6.28344H33.3978V5.98429V5.98344C33.4016 5.27921 34.4527 5.28183 34.4547 5.98404V7.65878V7.65963C34.4508 8.36387 33.3997 8.36124 33.3978 7.65904V7.35827H33.1173V14.4078C33.1173 15.249 32.4432 15.9334 31.613 15.9334L25.5151 15.9349C24.6878 15.9349 24.0148 15.2504 24.0148 14.4091V7.35963H23.7343V7.66014V7.66107C23.7306 8.36327 22.6794 8.3626 22.6775 7.66039L22.6774 6.82293ZM25.0717 6.97327L25.0714 12.2226L32.0605 12.2227V6.97327C32.0605 6.72455 31.8597 6.52234 31.613 6.52234H25.5151C25.2708 6.52234 25.0717 6.7248 25.0717 6.97327ZM25.0717 13.2977L25.0717 14.4079C25.0717 14.6563 25.2708 14.8588 25.5151 14.8588L31.612 14.8601C31.8586 14.8601 32.0594 14.658 32.0594 14.4093V13.2977H25.0717Z"/>
						</svg>
						<p class="paragraph__xsmall__bold">{{ property.bathroomNumber }}
							{{ 'indivudualPropertyPage.bathrooms'|trans }}</p>
					</div>
					<div class="hero__features--items">
						<svg width="34" height="33" viewbox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M21.3886 1.11718L23.9277 3.67684C24.2573 4.00503 24.2573 4.49727 23.9277 4.82546L21.3557 7.38513C21.2238 7.54918 20.993 7.61479 20.7951 7.61479C20.5973 7.61479 20.3994 7.54918 20.2346 7.38513C19.9048 7.05694 19.9048 6.5647 20.2346 6.23651L21.4216 5.05512H4.07748L5.26453 6.23651C5.5943 6.5647 5.5943 7.05694 5.26453 7.38513C5.13269 7.54918 4.90185 7.61479 4.70401 7.61479C4.50617 7.61479 4.30833 7.54918 4.14348 7.38513L1.57154 4.82546C1.24178 4.49727 1.24178 4.00503 1.57154 3.67684L4.14348 1.11718C4.47317 0.789066 4.96777 0.789066 5.29753 1.11718C5.6273 1.44536 5.6273 1.93761 5.29753 2.2658L4.11048 3.44718H21.4216L20.2346 2.2658C19.9048 1.93761 19.9048 1.44536 20.2346 1.11718C20.5643 0.789066 21.059 0.789066 21.3886 1.11718ZM31.2807 28.0921C31.6105 27.7968 32.1051 27.7968 32.3689 28.125C32.6986 28.4531 32.6986 28.9454 32.3689 29.2735L29.7969 31.8332C29.6651 31.9973 29.4342 32.0629 29.2364 32.0629C29.0385 32.0629 28.8407 31.9973 28.6759 31.8332L26.1039 29.2735C25.7742 28.9454 25.7742 28.4531 26.1039 28.125C26.4336 27.7968 26.9282 27.7968 27.258 28.125L28.445 29.3063V12.045L27.258 13.2264C26.9282 13.5546 26.4336 13.5546 26.1039 13.2264C25.7742 12.8983 25.7742 12.406 26.1039 12.0778L28.6759 9.51816C29.0055 9.18997 29.5001 9.18997 29.8299 9.51816L32.4019 12.0778C32.7316 12.406 32.7316 12.8983 32.4019 13.2264C32.2699 13.3905 32.0392 13.4561 31.8413 13.4561C31.6435 13.4561 31.4456 13.3905 31.2807 13.2264L30.0937 12.045V29.2735L31.2807 28.0921ZM22.9714 9.71505C23.4331 9.71505 23.7957 10.076 23.8287 10.5355V30.8487C23.8287 31.3082 23.466 31.6691 23.0044 31.6691H2.59367C2.13207 31.6691 1.76938 31.3082 1.76938 30.8487V10.5355C1.76938 10.076 2.13207 9.71505 2.59367 9.71505H22.9714ZM22.1471 30.0283V11.3231H3.38504V30.0283H22.1471Z"/>
						</svg>

						<p class="paragraph__xsmall__bold">{{ property.indoorSurface }}
							m²</p>
					</div>
					<div class="hero__features--items">
						<svg width="42" height="33" viewbox="0 0 42 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M2.95756 29.9872C2.49588 29.9872 2.11812 30.3555 2.11812 30.8056C2.11812 31.2558 2.49588 31.6241 2.95756 31.6241H39.0551C39.5168 31.6241 39.8945 31.2558 39.8945 30.8056C39.8945 30.3555 39.5168 29.9872 39.0551 29.9872H25.6234V24.258H31.4998C34.7318 24.258 37.3761 21.6799 37.3761 18.5288C37.3761 16.0735 35.7811 13.9455 33.4725 13.127C33.5565 12.7587 33.5985 12.3904 33.5985 11.9813C33.5985 9.93506 32.4652 8.05268 30.6603 7.02959C30.6184 3.87858 28.0159 1.34131 24.784 1.34131C23.3568 1.34131 22.0137 1.87334 21.0063 2.69175C19.999 1.83238 18.6558 1.34131 17.2287 1.34131C13.9967 1.34131 11.3943 3.87858 11.3524 7.02959C9.54748 8.05268 8.41419 9.93506 8.41419 11.9813C8.41419 12.3904 8.45619 12.7587 8.54011 13.127C6.23152 13.9455 4.63655 16.0735 4.63655 18.5288C4.63655 21.6799 7.2809 24.258 10.5128 24.258H16.3892V29.9872H2.95756ZM31.4998 22.6211H28.0579C29.1492 21.598 29.8208 20.1248 29.8208 18.5288C29.8208 16.0735 28.2259 13.9455 25.8752 13.127C25.9593 12.7587 26.0012 12.3904 26.0012 11.9813C26.0012 9.93506 24.8679 8.05268 23.0631 7.02959C23.0631 5.88372 22.7272 4.81976 22.0976 3.91943C22.8112 3.30559 23.7346 2.97825 24.742 2.97825C27.0505 2.97825 28.9394 4.81976 28.9394 7.07054V7.43884C28.9394 7.80715 29.1073 8.1345 29.4431 8.25726C30.9541 8.91206 31.9195 10.3853 31.9195 11.9813C31.9195 12.4723 31.8356 12.9634 31.6676 13.4135C31.5837 13.659 31.5837 13.9046 31.7096 14.1092C31.8356 14.3138 32.0454 14.4775 32.2972 14.5184C34.2701 14.8867 35.6971 16.5645 35.6971 18.5288C35.6971 20.7796 33.8083 22.6211 31.4998 22.6211ZM17.2287 8.70738C16.767 8.70738 16.3892 9.07568 16.3892 9.5259V12.8815L14.4584 11.04C14.1227 10.7126 13.619 10.7126 13.2831 11.04C12.9474 11.3674 12.9474 11.8585 13.2831 12.1858L16.3892 15.2141V18.2015L14.4584 16.319C14.1227 15.9916 13.619 15.9916 13.2831 16.319C12.9474 16.6464 12.9474 17.1375 13.2831 17.4649L16.3892 20.4931V22.6211H10.4709C8.16235 22.6211 6.27353 20.7796 6.27353 18.5288C6.27353 16.5645 7.70066 14.8867 9.6734 14.5184C9.92524 14.4775 10.1351 14.3138 10.261 14.1092C10.3869 13.9046 10.3869 13.6181 10.303 13.4135C10.0932 12.9634 10.0092 12.4723 10.0092 11.9813C10.0092 10.3853 10.9746 8.91206 12.4857 8.25726C12.8214 8.09354 13.0313 7.76619 12.9894 7.43884V7.07054C12.9894 4.81976 14.8782 2.97825 17.1867 2.97825C19.4953 2.97825 21.3841 4.81976 21.3841 7.07054V7.43884C21.3841 7.80715 21.552 8.1345 21.8878 8.25726C23.3988 8.91206 24.3642 10.3853 24.3642 11.9813C24.3642 12.4723 24.2803 12.9634 24.1124 13.4135C24.0284 13.659 24.0284 13.9046 24.1544 14.1092C24.2803 14.3138 24.4901 14.4775 24.742 14.5184C26.7148 14.8867 28.1418 16.5645 28.1418 18.5288C28.1418 20.7796 26.253 22.6211 23.9445 22.6211H18.0681V20.4522L21.1743 17.4239C21.51 17.0965 21.51 16.6055 21.1743 16.2781C20.8384 15.9507 20.3347 15.9507 19.999 16.2781L18.0681 18.1605V15.1732L21.1743 12.1449C21.51 11.8175 21.51 11.3265 21.1743 10.9991C20.8384 10.6717 20.3347 10.6717 19.999 10.9991L18.0681 12.8815V9.5259C18.0681 9.07568 17.6904 8.70738 17.2287 8.70738ZM18.0681 29.9872V24.258H23.9445V29.9872H18.0681Z"/>
						</svg>
						<p class="paragraph__xsmall__bold">{{ property.outdoorSurface }}
							m²</p>
					</div>
				</div>
				<form method="post" class="favorite-form" action="{{ path('app_favorite_new', {'property': property.id}) }}" data-id="{{ property.id }}">
					<input type="hidden" name="_token" value="{{ csrf_token('favoriteBtn' ~ property.id) }}">

					<button
						type="submit" class="button__favorite">

						{# If the property is not yet a user's favorite, 
																														we display the empty heart icon thanks to the 
																														"favorite-toggle" CSS class, otherwise we hide it  #}
						<svg id="favorite-none-{{ property.id }}" class="favorite-none {{ isFavorited ? '' : 'favorite-toggle' }}" viewbox="0 0 30 27" aria-hidden="true" focusable="false">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M21.696,0.85l0.001,-0.15l0.147,-0l0.001,0.003l0.003,0.001c4.122,0.081 7.452,3.44 7.452,7.562c0,3.587 -1.76,6.376 -4.356,9.098c-1.285,1.349 -2.78,2.687 -4.371,4.104c-1.586,1.412 -3.269,2.904 -4.942,4.57c-0.351,0.349 -0.92,0.349 -1.27,-0c-2.068,-2.059 -4.15,-3.853 -6.045,-5.558c-1.902,-1.711 -3.617,-3.335 -4.928,-5.035c-1.83,-2.374 -2.688,-4.659 -2.688,-7.179c-0,-4.173 3.408,-7.566 7.597,-7.566c1.757,-0 3.11,0.425 4.223,1.206c0.982,0.689 1.767,1.651 2.476,2.826c0.709,-1.175 1.494,-2.137 2.476,-2.826c1.113,-0.781 2.466,-1.206 4.223,-1.206l0,0.15l0.001,-0Zm-0.001,1.642c-1.366,-0 -2.407,0.278 -3.313,0.965c-0.923,0.7 -1.723,1.829 -2.583,3.542c-0.331,0.659 -1.275,0.658 -1.606,-0c-0.86,-1.713 -1.66,-2.842 -2.582,-3.542c-0.907,-0.687 -1.948,-0.965 -3.314,-0.965c-3.199,0 -5.8,2.59 -5.8,5.774c-0,3.014 1.529,5.426 3.876,7.886c1.186,1.243 2.575,2.491 4.077,3.83c1.442,1.284 2.985,2.65 4.546,4.165c1.563,-1.517 3.108,-2.884 4.551,-4.169c1.503,-1.339 2.894,-2.587 4.08,-3.83c2.348,-2.459 3.876,-4.869 3.876,-7.882c0,-3.183 -2.605,-5.774 -5.808,-5.774Z"/>
						</svg>
						{# If the property is already a user's favorite, 
																														we display the full heart icon thanks to the 
																														"favorite-toggle" CSS class, otherwise we hide it  #}
						<svg id="favorite-done-{{ property.id }}" class="favorite-done {{ isFavorited ? 'favorite-toggle' : '' }}" viewbox="0 0 30 27" aria-hidden="true" focusable="false">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M21.696,0.85l0.001,-0.15l0.147,-0l0.001,0.003l0.003,0.001c4.122,0.081 7.452,3.44 7.452,7.562c0,3.587 -1.76,6.376 -4.356,9.098c-1.285,1.349 -2.78,2.687 -4.371,4.104c-1.586,1.412 -3.269,2.904 -4.942,4.57c-0.351,0.349 -0.92,0.349 -1.27,-0c-2.068,-2.059 -4.15,-3.853 -6.045,-5.558c-1.902,-1.711 -3.617,-3.335 -4.928,-5.035c-1.83,-2.374 -2.688,-4.659 -2.688,-7.179c-0,-4.173 3.408,-7.566 7.597,-7.566c1.757,-0 3.11,0.425 4.223,1.206c0.982,0.689 1.767,1.651 2.476,2.826c0.709,-1.175 1.494,-2.137 2.476,-2.826c1.113,-0.781 2.466,-1.206 4.223,-1.206l0,0.15l0.001,-0Z"/>
						</svg>
					</button>
				</form>
			</div>
		</section>

		{# IMAGE CAROUSEL & DESCRIPTION OF THE PROPERTY #}
		<section class="property__description p-section">

			<div class="property__carousel">
				<div class="carousel-container">
					{% for image in property.propertyImages %}
						<div class="carousel-slide{% if loop.first %} active{% endif %}">
							<img src="{{ asset(image.url) }}" alt=" Photo {{ loop.index }} {{ 'indivudualPropertyPage.alt.carousel'|trans }} {{ property.name }}">
						</div>
					{% endfor %}
					<button class="carousel-btn prev">
						<svg viewbox="0 0 15 18" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10.3023 1.24322C10.7561 1.69766 10.7513 2.4297 10.2916 2.87832L4.02623 8.9928L10.2916 15.1073C10.7513 15.5559 10.7561 16.288 10.3023 16.7424C9.8485 17.1968 9.108 17.2016 8.64832 16.753L1.53976 9.81562C1.31716 9.59841 1.19184 9.30203 1.19184 8.9928C1.19184 8.6836 1.31716 8.38723 1.53976 8.16998L8.64832 1.23268C9.108 0.784064 9.8485 0.788813 10.3023 1.24322Z"/>
						</svg>
					</button>
					<button class="carousel-btn next">
						<svg viewbox="0 0 15 18" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M4.69759 16.7568C4.24379 16.3023 4.24859 15.5703 4.70827 15.1217L10.9736 9.0072L4.70827 2.89273C4.24859 2.44411 4.24379 1.71202 4.69759 1.25762C5.15138 0.803173 5.89187 0.798426 6.35155 1.24704L13.4601 8.18438C13.6827 8.40159 13.808 8.69796 13.808 9.0072C13.808 9.3164 13.6827 9.61277 13.4601 9.83002L6.35156 16.7673C5.89187 17.2159 5.15138 17.2112 4.69759 16.7568Z"/>
						</svg>
					</button>
				</div>
			</div>

			<div class="property__text">
				{% if property.tags|length > 0 %}
					<div class="tags">
						<p>{{ 'indivudualPropertyPage.tags'|trans }}</p>

						{% for tag in property.tags %}
							<p class="paragraph__xsmall__bold tag__badge">{{ tag.getTranslatedName(locale) }}</p>
						{% endfor %}
					</div>
				{% endif %}

				<h2 class="title title__secondary accent">Description</h2>
				<p>{{ property.getTranslatedDescription(locale) }}</p>
				<p class="title title__fourth">{{ 'indivudualPropertyPage.price'|trans }}
					{{ property.price|format_currency('EUR', {fraction_digit: 0}) }}</p>
			</div>
		</section>

		{# SPECIAL FEATURES OF THE PROPERTY #}
		<section class="property-location">
			<div class="property__specs">
				<h3 class="title title__secondary accent">{{ 'indivudualPropertyPage.specsTitle'|trans }}</h3>
				<div class="specs">
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.category'|trans }}</h4>
						<p class="name">{{ property.category.getTranslatedName(locale) }}</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.location'|trans }}</h4>
						<p class="name">{{ property.city }}</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.indoor'|trans }}</h4>
						<p class="name">{{ property.indoorSurface }}
							m²</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.outdoor'|trans }}</h4>
						<p class="name">{{ property.outdoorSurface }}
							m²</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.bedrooms'|trans }}</h4>
						<p class="name">{{ property.bedroomNumber }}</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.rooms'|trans }}</h4>
						<p class="name">{{ property.roomsTotal }}</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.bathrooms'|trans }}</h4>
						<p class="name">{{ property.bathroomNumber }}</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.energy'|trans }}</h4>
						<p class="name">{{ property.energyClass.value }}</p>
					</div>
					<div class="specs__items">
						<h4 class="title__specs">{{ 'indivudualPropertyPage.climate'|trans }}</h4>
						<p class="name">{{ property.climateClass.value }}</p>
					</div>
				</div>
			</div>

			{# GOOGLE MAP OF THE PROPERTY #}
			<div class="property__map">
				<iframe src="{{ property.mapUrl }}"></iframe>
			</div>

		</section>


		<div class="property__contact">

			<div class="contact__image--property">
				<img src="{{ asset('images/contact_property_image.webp') }}" alt="{{ 'contactPage.alt.photo'|trans }}"></div>

			<div class="contact__form">
				<p class="title title__secondary">{{ 'indivudualPropertyPage.contactCTA'|trans }}</p>

				<div class="form__choices">
					{{ form_start(contactForm) }}

					{# INPUT FIELD NAME #}
					{{ form_label(contactForm.name) }}
					{{ form_widget(contactForm.name) }}
					{% for error in contactForm.name.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{# INPUT FIELD FIRST NAME #}
					{{ form_label(contactForm.firstName) }}
					{{ form_widget(contactForm.firstName) }}
					{% for error in contactForm.firstName.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{# INPUT FIELD EMAIL #}
					{{ form_label(contactForm.email) }}
					{{ form_widget(contactForm.email) }}
					{% for error in contactForm.email.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{# INPUT FIELD PHONE #}
					{{ form_label(contactForm.phone) }}
					{{ form_widget(contactForm.phone) }}
					{% for error in contactForm.phone.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{# INPUT FIELD SELECT #}
					{{ form_label(contactForm.request) }}
					{{ form_widget(contactForm.request) }}
					{% for error in contactForm.request.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{# INPUT FIELD TEXTAREA #}
					{{ form_label(contactForm.message) }}
					{{ form_widget(contactForm.message) }}
					{% for error in contactForm.message.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					<button type="submit" class="button button__primary full-w">{{ 'contactPage.sendBtn'|trans }}</button>

					{{ form_end(contactForm) }}
				</div>

			</div>
		</div>

	</main>

	{# FOOTER #}
	{% block footer %}
		{% include 'layout/footer.html.twig' %}
	{% endblock %}
{% endblock %}
