<!DOCTYPE html>
<html lang="{{ 'lang'|trans }}">
	{# HEAD #}
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Novalya
			{% endblock %}
		</title>

		{# Import Google Fonts #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		{# JS scripts #}
		<script src="{{ asset('script/menu.js') }}" defer></script>
		<script src="{{ asset('script/dropdown.js') }}" defer></script>
		<script src="{{ asset('script/theme.js') }}" defer></script>
		<script src="{{ asset('script/ajax.js') }}" defer></script>
		<script src="{{ asset('script/inputImage.js') }}" defer></script>

		{# Favicon #}
		<link
		rel="icon" href="{{ asset('images/favicon_novalya.png') }}">

		{# CSS #}
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>

	{# BODY #}
	<body>

		{# HEADER #}
		{% block header %}
			{% include 'layout/header.html.twig' %}
		{% endblock %}

		{% block flash %}
			<div>
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="
								{% if label == 'danger' %}form__info info-bg-danger
								{% elseif label == 'success' %}form__info info-bg-success
								{% elseif label == 'info' %}form__info info-bg-info
								{% elseif label == 'warning' %}form__info info-bg-warning
								{% endif %}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		{% endblock %}

		{% block body %}{% endblock %}

		{# SWITCH THEME BUTTON #}
		{% block theme %}
			{% include 'layout/theme.html.twig' %}
		{% endblock %}

		{# JS #}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
