{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'updateTagPage.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="admin-pages__container px-100">

		<h1 class="title title__secondary mb-55">{{ 'updateTagPage.mainTitle'|trans }}
			<span class="title title__secondary accent">{{ 'updateTagPage.mainAccent'|trans }}</span>
		</h1>

		{{ form_start(form) }}

		{{ form_label(form.name) }}
		{{ form_widget(form.name) }}
		{% for error in form.name.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{{ form_label(form.nameEn) }}
		{{ form_widget(form.nameEn) }}
		{% for error in form.nameEn.vars.errors %}
			<div class="form__constraint">{{ error.message }}</div>
		{% endfor %}

		{# UPDATE BUTTON #}

		<button class="button button__primary panel-button mt-35">{{ 'updateBtn'|trans }}</button>

		{{ form_end(form) }}

		{# GET BACK TO PROPERTIES BUTTON #}
		<a class="button button__secondary panel-button mt-15" href="{{ path('app_tag_index') }}">{{ 'updateTagPage.getBack'|trans }}</a>

	</main>


{% endblock %}
