{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'tagIndex.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="admin-pages__container px-100">

		<h1 class="title title__secondary mb-55">{{ 'tagIndex.mainTitle'|trans }}
			<span class="title title__secondary accent">{{ 'tagIndex.mainAccent'|trans }}</span>
		</h1>

		<section class="categories">
			{% for tag in tags %}
				<div
					class="categories__item">

					{# tag name #}
					<h3 class="title panel__titles">{{ tag.getTranslatedName(locale) }}</h3>

					<div class="categories__buttons">
						{# udpate button #}
						<a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="button button__secondary">{{ 'updateBtn'|trans }}</a>
						{# delete button #}
						{{ include('tag/_delete_form.html.twig') }}
					</div>
				</div>

			{% else %}

				{# message if there is no tag to be found #}
				<h3 class="paragraph__small">{{ 'tagIndex.noRecord'|trans }}</h3>

			{% endfor %}
		</section>

		<a href="{{ path('app_tag_new') }}" class="button button__primary mt-35 panel-button">{{ 'tagIndex.addBtn'|trans }}</a>
		<a href="{{ path('app_admin') }}" class="button button__secondary mt-15 panel-button">{{ 'adminBtn'|trans }}</a>

	</main>

{% endblock %}
