<footer>

	<div class="footer">
		<div class="footer__connect">
			<h4 class="title title__tertiary">{{ 'footer.connect.mainTitle'|trans }}
				<span class="title title__tertiary accent">{{ 'footer.connect.mainAccent'|trans }}</span>
			</h4>
			<div class="social-media">
				<a href="#">
					<svg width="20" height="35" viewbox="0 0 20 35" fill="none">
						<path d="M4.5252 20.46V35H12.4786V20.46H18.4093L19.6435 13.7744H12.4786V11.4092C12.4786 7.875 13.8704 6.52148 17.4631 6.52148C18.5807 6.52148 19.4789 6.54883 20 6.60352V0.540039C19.0195 0.273438 16.6198 0 15.2348 0C7.90538 0 4.5252 3.45215 4.5252 10.8965V13.7744H0V20.46H4.5252Z" fill="#FFFBF9"/>
					</svg>
				</a>
				<a href="#">
					<svg width="35" height="35" viewbox="0 0 35 35" fill="none">
						<path d="M17.5039 8.52644C12.5379 8.52644 8.53235 12.5329 8.53235 17.5C8.53235 22.4671 12.5379 26.4736 17.5039 26.4736C22.4699 26.4736 26.4755 22.4671 26.4755 17.5C26.4755 12.5329 22.4699 8.52644 17.5039 8.52644ZM17.5039 23.334C14.2948 23.334 11.6712 20.7177 11.6712 17.5C11.6712 14.2823 14.287 11.666 17.5039 11.666C20.7209 11.666 23.3366 14.2823 23.3366 17.5C23.3366 20.7177 20.7131 23.334 17.5039 23.334ZM28.935 8.15938C28.935 9.32305 27.9981 10.2524 26.8424 10.2524C25.679 10.2524 24.7499 9.31524 24.7499 8.15938C24.7499 7.00351 25.6868 6.06633 26.8424 6.06633C27.9981 6.06633 28.935 7.00351 28.935 8.15938ZM34.877 10.2837C34.7443 7.47992 34.104 4.99637 32.0505 2.95018C30.0047 0.903994 27.5218 0.263584 24.7186 0.123006C21.8296 -0.0410019 13.1704 -0.0410019 10.2814 0.123006C7.48606 0.255774 5.00307 0.896184 2.94953 2.94237C0.895985 4.98856 0.263525 7.47211 0.122978 10.2759C-0.0409927 13.1655 -0.0409927 21.8267 0.122978 24.7163C0.255717 27.5201 0.895985 30.0036 2.94953 32.0498C5.00307 34.096 7.47825 34.7364 10.2814 34.877C13.1704 35.041 21.8296 35.041 24.7186 34.877C27.5218 34.7442 30.0047 34.1038 32.0505 32.0498C34.0962 30.0036 34.7365 27.5201 34.877 24.7163C35.041 21.8267 35.041 13.1733 34.877 10.2837ZM31.1447 27.8169C30.5357 29.3476 29.3567 30.5269 27.8185 31.1439C25.5151 32.0576 20.0494 31.8468 17.5039 31.8468C14.9585 31.8468 9.48494 32.0498 7.18935 31.1439C5.65895 30.5347 4.47992 29.3554 3.86308 27.8169C2.94953 25.5129 3.16035 20.046 3.16035 17.5C3.16035 14.954 2.95733 9.47925 3.86308 7.18314C4.47211 5.6524 5.65114 4.47311 7.18935 3.85613C9.49275 2.94237 14.9585 3.15324 17.5039 3.15324C20.0494 3.15324 25.5229 2.95018 27.8185 3.85613C29.3489 4.4653 30.5279 5.64459 31.1447 7.18314C32.0583 9.48706 31.8475 14.954 31.8475 17.5C31.8475 20.046 32.0583 25.5208 31.1447 27.8169Z" fill="#FFFBF9"/>
					</svg>
				</a>
				<a href="#">
					<svg width="41" height="29" viewbox="0 0 41 29" fill="none">
						<path d="M40.1443 4.5388C39.6714 2.74896 38.2827 1.34427 36.5187 0.86849C33.3209 0 20.5 0 20.5 0C20.5 0 7.67906 0 4.48133 0.86849C2.71732 1.34427 1.32863 2.74896 0.855731 4.5388C0 7.77865 0 14.5302 0 14.5302C0 14.5302 0 21.2818 0.855731 24.5216C1.32863 26.3115 2.71732 27.6557 4.48133 28.1315C7.67906 29 20.5 29 20.5 29C20.5 29 33.3209 29 36.5187 28.1315C38.2827 27.6557 39.6714 26.3039 40.1443 24.5216C41 21.2818 41 14.5302 41 14.5302C41 14.5302 41 7.77865 40.1443 4.5388ZM16.3114 20.6625V8.39792L27.0231 14.5302L16.3114 20.6625Z" fill="#FFFBF9"/>
					</svg>
				</a>
			</div>
		</div>

		<div class="footer__links">
			<h4 id="footer-links" class="title title__tertiary">{{ 'footer.useful.mainTitle'|trans }}
				<span class="title title__tertiary accent">{{ 'footer.useful.mainAccent'|trans }}</span>
			</h4>
			<nav aria-labelledby="footer-links">
				<ul class="footer__links--text">
					<li>
						<a href="#" class="f-links">{{ 'footer.useful.careers'|trans }}</a>
					</li>
					<li>
						<a href="#" class="f-links">{{ 'footer.useful.media'|trans }}</a>
					</li>
					<li>
						<a href="{{ path('app_about_index') }}" class="f-links">{{ 'footer.useful.story'|trans }}</a>
					</li>
					<li>
						<a href="{{ path('app_contact_index') }}" class="f-links">{{ 'footer.useful.support'|trans }}</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="footer__newsletter">
			<h4 class="title title__tertiary">{{ 'footer.newsletter.mainTitle'|trans }}
				<span class="title title__tertiary accent">{{ 'footer.newsletter.mainAccent'|trans }}</span>
			</h4>
			<p class="paragraph__small">{{ 'footer.newsletter.text'|trans }}</p>
			<form action="submit" class="full-w">
				<input type="text" class="form__news--input" name="newsletter" id="newsletter" placeholder="{{ 'footer.newsletter.placeholder'|trans }}">
				<button id="newsBtn" class="button button__secondary full-w" type="submit">
					{{ 'footer.newsletter.button'|trans }}
				</button>
			</form>
		</div>
	</div>

	<div class="footer__legal">
		<p class="legal__mentions">{{ 'footer.mentions.info'|trans }}</p>
		<a href="#" class="legal__mentions">{{ 'footer.mentions.cookies'|trans }}</a>
		<a href="#" class="legal__mentions">{{ 'footer.mentions.legal'|trans }}</a>
	</div>

</footer>
