{% extends 'base.html.twig' %}

{% block title %}Novalya |
	{{ 'account.pageTitle'|trans }}
{% endblock %}

{% block body %}

	<main class="admin-pages__container px-100">

		<h1 class="title title__secondary mb-55">{{ 'account.hello'|trans }}
			<span class="title title__secondary accent">{{ app.user.firstName }}</span>
		</h1>
		<div class="control-template account">
			<aside class="control-template__aside">
				<nav class="control-template__panel">
					<ul>
						<li>
							<button id="account-dropdown" class="control-template__panel--dropdown panel__titles">{{ 'account.accountTitle'|trans }}
								<svg id="account-icon" class="dropdown-icon rotates" width="18" height="15" viewbox="0 0 18 15" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7576 10.3023C16.3032 10.7561 15.5711 10.7513 15.1225 10.2916L9.00806 4.02623L2.89358 10.2916C2.44496 10.7513 1.71288 10.7561 1.25847 10.3023C0.804028 9.8485 0.79928 9.108 1.2479 8.64832L8.18524 1.53976C8.40245 1.31716 8.69882 1.19184 9.00806 1.19184C9.31725 1.19184 9.61363 1.31716 9.83088 1.53976L16.7682 8.64832C17.2168 9.108 17.212 9.8485 16.7576 10.3023Z"/>
								</svg>
							</button>
							<ul id="account-dropdown-menu" class="dropdown__menu opens">
								<li>
									<a href="#update-account" id="info-btn" class="paragraph__small">{{ 'account.manageInfos'|trans }}</a>
								</li>
								{% if not 'ROLE_ADMIN' in app.user.roles %}
									<li>
										<a href="#delete-account" id="delete-btn" class="paragraph__small">{{ 'account.deleteAccount'|trans }}</a>
									</li>
								{% endif %}
							</ul>
						</li>
						<li>
							<button id="favorites-dropdown" class="control-template__panel--dropdown panel__titles">{{ 'account.favoriteTitle'|trans }}
								<svg id="favorites-icon" class="dropdown-icon rotates" width="18" height="15" viewbox="0 0 18 15" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7576 10.3023C16.3032 10.7561 15.5711 10.7513 15.1225 10.2916L9.00806 4.02623L2.89358 10.2916C2.44496 10.7513 1.71288 10.7561 1.25847 10.3023C0.804028 9.8485 0.79928 9.108 1.2479 8.64832L8.18524 1.53976C8.40245 1.31716 8.69882 1.19184 9.00806 1.19184C9.31725 1.19184 9.61363 1.31716 9.83088 1.53976L16.7682 8.64832C17.2168 9.108 17.212 9.8485 16.7576 10.3023Z"/>
								</svg>
							</button>
							<ul id="favorites-dropdown-menu" class="dropdown__menu opens">
								<li>
									<a href="#view-favorites" id="favorite-btn" class="paragraph__small active">{{ 'account.viewFavorites'|trans }}</a>
								</li>
							</ul>
						</li>
						<li class="mt-35">
							<a href="{{ path('app_logout') }}" class="paragraph__small">{{ 'account.logout'|trans }}</a>
						</li>
					</ul>

				</nav>
			</aside>

			{# ACCOUNT INFORMATION #}
			<section id="account-info" class="account__main hidden">
				<h2 class="title title__tertiary center">{{ 'account.informationTitle'|trans }}
				</h2>

				<div class="edit__container">
					{{ form_start(form) }}

					{{ form_label(form.name) }}
					{{ form_widget(form.name) }}
					{% for error in form.name.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{{ form_label(form.firstName) }}
					{{ form_widget(form.firstName) }}
					{% for error in form.firstName.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{{ form_label(form.email) }}
					{{ form_widget(form.email) }}
					{% for error in form.email.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					{{ form_label(form.password) }}
					{{ form_widget(form.password) }}
					{% for error in form.password.vars.errors %}
						<div class="form__constraint">{{ error.message }}</div>
					{% endfor %}

					<button class="button button__primary mt-15 form-button">{{ 'updateBtn'|trans }}</button>

					{{ form_end(form) }}
				</div>

			</section>

			{# DELETE ACCOUNT SECTION #}
			{% if not 'ROLE_ADMIN' in app.user.roles %}
				<section id="account-delete" class="account__main hidden">
					<h2 class="title title__tertiary center">{{ 'account.deleteTitle'|trans }}
					</h2>

					<div class="account__main--delete">
						<p>{{ 'account.deleteMessage'|trans }}</p>
						<form method="post" action="{{ path('app_user_account_deactivate', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ user.id) }}">
							<button class="button button__delete full-w" data-user-id="{{ user.id }}">{{ 'deleteBtn'|trans }}</button>
						</form>
					</div>
				</section>
			{% endif %}

			{# ACCOUNT FAVORITES #}
			<section id="favorites" class="account__main">

				<h2 class="title title__tertiary center">{{ 'account.favoriteTitle'|trans }}
				</h2>

				{% if favorites %}
				<div class="favorite__container">
					<div class="cards">
						{% for favorite in favorites %}
								<div class="card__container">
									<div class="card__image">
										{% for image in favorite.propertyImages %}
											{# Selects only the featured image among all the pictures related to this property #}
											{% if image.isFeatured == true %}
												<img src="{{ asset(image.url) }}" alt="{{ 'homePage.alt.intro'|trans }}"></div>
										{% endif %}
									{% endfor %}
									<div class="card__content">

										{# Favorite button & form #}
										<form method="post" class="favorite-form" action="{{ path('app_favorite_new', {'property': favorite.id}) }}" data-id="{{ favorite.id }}">
											<input type="hidden" name="_token" value="{{ csrf_token('favoriteBtn' ~ favorite.id) }}">
											<button type="submit" class="button__favorite">
												<svg id="favorite-none-{{ favorite.id }}" class="favorite-none" viewbox="0 0 30 27" aria-hidden="true" focusable="false">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M21.696,0.85l0.001,-0.15l0.147,-0l0.001,0.003l0.003,0.001c4.122,0.081 7.452,3.44 7.452,7.562c0,3.587 -1.76,6.376 -4.356,9.098c-1.285,1.349 -2.78,2.687 -4.371,4.104c-1.586,1.412 -3.269,2.904 -4.942,4.57c-0.351,0.349 -0.92,0.349 -1.27,-0c-2.068,-2.059 -4.15,-3.853 -6.045,-5.558c-1.902,-1.711 -3.617,-3.335 -4.928,-5.035c-1.83,-2.374 -2.688,-4.659 -2.688,-7.179c-0,-4.173 3.408,-7.566 7.597,-7.566c1.757,-0 3.11,0.425 4.223,1.206c0.982,0.689 1.767,1.651 2.476,2.826c0.709,-1.175 1.494,-2.137 2.476,-2.826c1.113,-0.781 2.466,-1.206 4.223,-1.206l0,0.15l0.001,-0Zm-0.001,1.642c-1.366,-0 -2.407,0.278 -3.313,0.965c-0.923,0.7 -1.723,1.829 -2.583,3.542c-0.331,0.659 -1.275,0.658 -1.606,-0c-0.86,-1.713 -1.66,-2.842 -2.582,-3.542c-0.907,-0.687 -1.948,-0.965 -3.314,-0.965c-3.199,0 -5.8,2.59 -5.8,5.774c-0,3.014 1.529,5.426 3.876,7.886c1.186,1.243 2.575,2.491 4.077,3.83c1.442,1.284 2.985,2.65 4.546,4.165c1.563,-1.517 3.108,-2.884 4.551,-4.169c1.503,-1.339 2.894,-2.587 4.08,-3.83c2.348,-2.459 3.876,-4.869 3.876,-7.882c0,-3.183 -2.605,-5.774 -5.808,-5.774Z"/>
												</svg>
												<svg id="favorite-done-{{ favorite.id }}" class="favorite-done favorite-toggle" viewbox="0 0 30 27" aria-hidden="true" focusable="false">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M21.696,0.85l0.001,-0.15l0.147,-0l0.001,0.003l0.003,0.001c4.122,0.081 7.452,3.44 7.452,7.562c0,3.587 -1.76,6.376 -4.356,9.098c-1.285,1.349 -2.78,2.687 -4.371,4.104c-1.586,1.412 -3.269,2.904 -4.942,4.57c-0.351,0.349 -0.92,0.349 -1.27,-0c-2.068,-2.059 -4.15,-3.853 -6.045,-5.558c-1.902,-1.711 -3.617,-3.335 -4.928,-5.035c-1.83,-2.374 -2.688,-4.659 -2.688,-7.179c-0,-4.173 3.408,-7.566 7.597,-7.566c1.757,-0 3.11,0.425 4.223,1.206c0.982,0.689 1.767,1.651 2.476,2.826c0.709,-1.175 1.494,-2.137 2.476,-2.826c1.113,-0.781 2.466,-1.206 4.223,-1.206l0,0.15l0.001,-0Z"/>
												</svg>
											</button>
										</form>

										<div class="card__content--text">
											<h4 class="title title__tertiary">{{ favorite.name }}</h4>
											<div class="text__specs">
												<p class="paragraph__small">{{ favorite.city }}</p>
												<p class="paragraph__small">{{ favorite.bedroomNumber }}
													{{ 'homePage.services.bedrooms'|trans }}
													|
													{{ favorite.indoorSurface }}
													m²</p>
											</div>
											<div class="text__price">
												<p class="card__price">{{ favorite.price|format_currency('EUR', {fraction_digit: 0}) }}</p>
												<a href="{{ path('app_property_show', {'id': favorite.id}) }}" class="button button__property">
													<svg width="100%" height="100%" viewbox="0 0 18 16" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M1,7l13.586,0l-4.657,-4.657c-0.391,-0.39 -0.391,-1.024 -0,-1.414c0.39,-0.391 1.024,-0.391 1.414,-0l6.364,6.364c0.391,0.39 0.391,1.024 0,1.414l-6.364,6.364c-0.39,0.391 -1.024,0.391 -1.414,0c-0.391,-0.391 -0.391,-1.024 -0,-1.414l4.657,-4.657l-13.586,-0c-0.552,-0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1Z"/></svg>
												</a>
											</div>
										</div>
									</div>
								</div>
						{% endfor %}
					</div>
				</div>
				{% else %}
					<p>{{ 'account.noFavorite'|trans }}</p>
				{% endif %}

				{# PAGINATION #}

{% if totalPages is defined and totalPages > 1 %}
	<div class="user__pagination mt-55">
		<a href="{{ currentPage > 1 ? path('app_user_account', {'id': app.user.id, 'page': currentPage - 1}) : '' }}" 
            class="pagination__icon {{ currentPage <= 1 ? 'disabled' : '' }}" class="pagination__icon">
			<svg viewbox="0 0 15 18" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10.3023 1.24322C10.7561 1.69766 10.7513 2.4297 10.2916 2.87832L4.02623 8.9928L10.2916 15.1073C10.7513 15.5559 10.7561 16.288 10.3023 16.7424C9.8485 17.1968 9.108 17.2016 8.64832 16.753L1.53976 9.81562C1.31716 9.59841 1.19184 9.30203 1.19184 8.9928C1.19184 8.6836 1.31716 8.38723 1.53976 8.16998L8.64832 1.23268C9.108 0.784064 9.8485 0.788813 10.3023 1.24322Z"/>
						</svg>
		</a>
		<a href="{{ path('app_user_account', {'id': app.user.id, 'page': currentPage}) }}" class="">
			{{ currentPage }}
		</a>
		<span>/</span>
		<p>{{ totalPages }}</p>
		<a href="{{ currentPage < totalPages ? path('app_user_account', {'id': user.id, 'page': currentPage + 1}) : '#' }}" 
            class="pagination__icon {{ currentPage >= totalPages ? 'disabled' : '' }}" class="pagination__icon">
			<svg viewbox="0 0 15 18" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M4.69759 16.7568C4.24379 16.3023 4.24859 15.5703 4.70827 15.1217L10.9736 9.0072L4.70827 2.89273C4.24859 2.44411 4.24379 1.71202 4.69759 1.25762C5.15138 0.803173 5.89187 0.798426 6.35155 1.24704L13.4601 8.18438C13.6827 8.40159 13.808 8.69796 13.808 9.0072C13.808 9.3164 13.6827 9.61277 13.4601 9.83002L6.35156 16.7673C5.89187 17.2159 5.15138 17.2112 4.69759 16.7568Z"/>
			</svg>
		</a>
	</div>
{% endif %}

			</section>

		</div>

	</main>
{% endblock %}
